.confirm-dialog-container {
    background-color: #1A1D21;
    color: whitesmoke;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-text {
        p {
            margin: 0;
            text-align: center;
        }
    }

    .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .confirm-button {
            background-color: #ff4081;
            color: black;
            width: 135.3px;
        }
    }
}