<div class="welcome-container">
    <div class="welcome-text">
        <h1>WELCOME TO CHATTERIX</h1>
        <p>Good teamwork starts with a digital office</p>
        <div class="button-container">
            <button mat-raised-button class="welcome-button" [routerLink]="['/login']">Lets get started</button>
        </div>   
    </div>
    <div class="welcome-img">
        <img src="../../../assets/img/social-media-g8c8a47473_1280.png" alt="">
    </div>
</div>

<div class="imprint">
<a [routerLink]="['/imprint']">Legal Notice</a>
<a [routerLink]="['/privacy']">Privacy policy</a>
</div>