.channel-dialog-container {
    background-color: #222529;
    color: darkgray;
    max-width: 600px;
    padding: 2rem;

    .close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .dialog-headline {
        h1 {
            color: lightgray;
            margin: 2.5rem 0;
            font-weight: 700;
        }
    }

    .dialog-description {
        p {
            margin: 0;
            color: rgba(255, 255, 255, 0.7);
            font-size: 12px;
        }
    }

    .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;

        .create-button {
            background-color: #4b4a4f;
            color: darkgray;
        }
    }
}